<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>splay</title>
</head>
<body>
    <h1>splay tree visualizer</h1>

    <br><br>

    <form action="insert_value" method="POST">
      <input type = "number" name="value" placeholder="insert a value"/>
      <input type = "submit">
    </form>
    <br>
    <form action="delete_value" method="POST">
      <input type = "number" name="value" placeholder="delete a value"/>
      <input type = "submit">
    </form>
    <br>
    <form action="find_value" method="POST">
      <input type = "number" name="value" placeholder="find a value"/>
      <input type = "submit">
    </form>

    <div style="width: 100vw; padding-top: 10vh; image-rendering: pixelated;">
     <canvas id="canvas" width="1000" height="500"style="image-rendering: pixelated; background-color: black; margin-left: auto; margin-right: auto"></canvas>
    </div>
    <script src="{{ url_for('static', filename='tree.js') }}"></script>
</body>
</html>